<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部の「本日も頑張りましょう」帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      <% if user_signed_in? %>
        <p><%= current_user.nickname %>さん、本日も頑張りましょう</p>
      <% end %>
    </h2>
  </div>
  <%# 画面上部の「本日も頑張りましょう」帯部分 %>

  <%# タスク一覧 %>
  <h2 class='title'>ユーザー一覧</h2>

    <div class='item-contents'>
      <ul class='item-lists'>
      <% @users.each do |user| %>
        <li class='list'>
          <div class='user-area'>
            <div class='item-img-content'>
              <%= image_tag user.avatar, class: "item-img" if user.avatar.attached? %>
            </div>
            <div class='item-info'>
              <h3 class='item-name'>
                <%= user.nickname %>
              </h3>
              <div class='item-price'>
                <span><%= user.position %><br><%= user.affiliation %></span>
              </div>
            </div>
          </div>
            <div class='limit-icon-area'>
             <%= link_to "#" do %>
                <span class='limit-icon-red'>本日中</span>
              <% end %>
              <%= link_to "#" do %>
                <span class='limit-icon-yellow'>3日以内</span>
              <% end %>
              <%= link_to "#" do %>
                <span class='limit-icon-blue'>それ以降</span>
              <% end %>
            </div>
        </li>
      <% end %>
      </ul>
    </div>
</div>
  <%# タスク一覧 %>


<%= render "shared/footer" %>